aws-lambda-powertools
yfinance==0.2.54
langchain-core
langchain-aws
langchain-community
aws_xray_sdk
pandas_market_calendars==4.4.1
numpy==1.26.4
requests==2.32.3
pypdf==4.2.0
PyPDF2==3.0.1
psycopg2-binary==2.9.9
psycopg==3.1.19
psycopg-binary==3.1.19
python-docx==1.1.2
peewee==3.17.5
auth
tabulate
markdown